:root {
  --ifm-color-primary: #4757ff;
  --ifm-color-primary-dark: #3f4ee6;
  --ifm-color-primary-darker: #3947d1;
  --ifm-color-primary-darkest: #2f3aa8;
  --ifm-color-primary-light: #5f6eff;
  --ifm-color-primary-lighter: #7a86ff;
  --ifm-color-primary-lightest: #9fa9ff;
  --ifm-code-font-size: 95%;
}

html[data-theme='dark'] {
  --ifm-color-primary: #8ea2ff;
  --ifm-color-primary-dark: #748bff;
  --ifm-color-primary-darker: #5a73ff;
  --ifm-color-primary-darkest: #3248ff;
  --ifm-color-primary-light: #a9b6ff;
  --ifm-color-primary-lighter: #c3ceff;
  --ifm-color-primary-lightest: #dbe1ff;
}
